.service__item {
  padding: 1rem;
  border-bottom: 1px solid #fa35f086;
  border-right: 1px solid #fa35f086;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.service__img {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: var(--secondary-color);
  padding: 0.5rem;
  margin-bottom: 1rem;
  line-height: 50px;
}

.service__img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.service__item h5 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.service__item p {
  font-size: 0.9rem;
  color: var(--text-color);
  margin-top: 0;
}
